/* BookingForm.css */

.booking-form-container {
    background: #6e43c4;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .booking-form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .booking-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Form title color */
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Label text color */
  }
  
  
  .booking-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .booking-form button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .booking-form button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  